In [1]:
import pandas as pd
import copy

In [2]:
total_list = []
raw = ""
company = []
i = 0

f = open("raw.html", "r")
while raw != "EOF":
    raw = f.readline()
    raw = raw.strip('\n')
    company.append(raw)
    if raw == '</tr>':
        temp = copy.deepcopy(company)
        real_data = []
        
        # Rank
        # <td>1</td>
        left = temp[1].find('<td>')+4
        right = temp[1].find('</td>')
        real_data.append(temp[1][left:right])

        # Rank change?(not sure)
        #  -
        if temp[3] == '-':
            real_data.append('no change')
        # <span class="green-up-arrow"></span>
        elif temp[3].find("<span class=\"green-up-arrow\"></span>")!= -1:
            real_data.append('up')
        # <span class="red-down-arrow"></span>
        elif temp[3].find("<span class=\"red-down-arrow\"></span>")!=-1:
            real_data.append('down')
        else:
            real_data.append('error')

        # Code
        # <td><a href="/asx/cba">CBA</a></td>
        left = temp[4].find('>',temp[4].find('<a'))+1
        right = temp[4].find('<',left)
        real_data.append(temp[4][left:right])

        # Company
        # <td>Commonwealth Bank</td>
        left = temp[6].find('<td>')+4
        right = temp[6].find('</td>')
        real_data.append(temp[6][left:right])

        # Price
        # <td>$75.40</td>
        left = temp[7].find('<td>')+4
        right = temp[7].find('</td>')
        real_data.append(temp[7][left:right])

        # Change 
        # +0.23 </td>
        right = temp[9].find('</td>')-1
        real_data.append(temp[9][:right])

        # % Chg
        # +0.31% </td>
        right = temp[11].find('</td>')-1
        real_data.append(temp[11][:right])

        # Mkt Cap
        # <td>$133.48 B</td>
        left = temp[12].find('<td>')+4
        right = temp[12].find('</td>')
        real_data.append(temp[12][left:right])

        # 1 Year
        # +6.23% </td>
        right = temp[14].find('</td>')-1
        real_data.append(temp[14][:right])

        total_list.append(real_data)
        company.clear()
        
f.close()

In [6]:
name = ['Rank',' ','Code','Company','Price','Change','% Chg','Mkt Cap','1 Year']

out = pd.DataFrame(data=total_list,columns=name,index=None)
out.head(10)

,Rank,,Code,Company,Price,Change,% Chg,Mkt Cap,1 Year
0,1,up,CBA,Commonwealth Bank,$75.40,+0.23,+0.31%,$133.48 B,+6.23%
1,2,down,BHP,BHP Group Limited,$36.80,-0.18,-0.49%,$108.41 B,+12.37%
2,3,up,WBC,Westpac Banking Corp,$27.22,+0.16,+0.59%,$93.84 B,-8.81%
3,4,up,CSL,CSL Limited,$197.25,+0.09,+0.05%,$89.37 B,+12.02%
4,5,down,ANZ,ANZ Banking Group Limited,$27.50,-0.15,-0.54%,$77.91 B,-2.07%
5,6,up,NAB,National Aust. Bank,$25.94,+0.03,+0.12%,$72.93 B,-9.24%
6,7,up,WOW,Woolworths Group Limited,$32.99,+0.15,+0.46%,$43.46 B,+15.07%
7,8,up,MQG,Macquarie Group Limited,$124.63,+0.26,+0.21%,$42.42 B,+9.33%
8,9,up,WES,Wesfarmers Limited,$36.59,+0.34,+0.94%,$41.49 B,+16.90%
9,10,up,TLS,Telstra Corporation,$3.41,+0.03,+0.89%,$40.56 B,+7.57%

In [7]:
out.to_csv('result.csv')